html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #300a24;
    color: #ffffff;
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px
}
.prompt {
    color: #4caf50;
}
.input-line {
    display: flex;
    align-items: center;
    background-color: #300a24;
}
.input-line input {
    flex: 1;
    background-color: #300a24;
    color: #ffffff;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border-top: none;
    padding-left: 7px;
    width: 100%;
}
@media (max-width: 600px) {
    .input-line input {
        padding: 10px;
    }
}
.green {
    color: #4caf50;
}
.blue {
    color: #348fea;
}
.yellow {
    color: #ffc107;
}
.executable {
    color: #5eea62;
}
.red {
    color: #f44336;
}
#main {
    word-break: break-word;
}
py-terminal, py-script, py-splashscreen {
    display: none;
}

textarea::placeholder {
    color: rgb(218, 218, 218);
}
textarea:-ms-input-placeholder {
    color: rgb(218, 218, 218);
}
textarea::-ms-input-placeholder {
    color: rgb(218, 218, 218);
}
textarea::-moz-placeholder {
    color: rgb(218, 218, 218);
}
textarea::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}