html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #300a24;
    color: #ffffff;
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px
}
.prompt {
    color: #4caf50;
}
.input-line {
    display: flex;
    align-items: center;
    background-color: #300a24;
}
.input-line input {
    flex: 1;
    background-color: #300a24;
    color: #ffffff;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border-top: none;
    padding-left: 7px;
    width: 100%;
}
.green {
    color: #4caf50;
}
.blue {
    color: #348fea;
}
.yellow {
    color: #ffc107;
}
.executable {
    color: #5eea62;
}
.red {
    color: #f44336;
}
#main {
    word-break: break-word;
}